{% extends 'base.html.twig' %}

{% block title %}Mes cours à venir
{% endblock %}


{% block body %}

	{% set now = "now"|date("U") %}

	<section class="py-5">
		<div class="container">

			<div class="d-flex justify-content-between align-items-end mb-5">
				<h1 class="hero-heading mb-0">Vos cours à venir</h1>
			</div>

			{% if upcoming is empty %}
				<div>
					<h4>Vous n’avez pas encore de réservation à venir.</h4>
					<a class="btn btn-secondary" href="{{ path('app_session_planning') }}">Voir le planning</a>.
				</div>

			{% else %}
				<div class="row g-4">

					{% for reservation in upcoming %}


						{% set s = reservation.session %}

						<div class="col-12 col-md-6 col-lg-4">
							<div class="card h-100 shadow-sm">
								<div class="card-body d-flex flex-column">

									<h5 class="card-title mb-1">
										{{ s.classType.title }}
									</h5>

									<p class="text-muted mb-2">
										{% if s.teacher %}Avec
											{{ s.teacher.firstname }}
											•
										{% endif %}
										{{ s.startAt|date('d/m/Y H:i') }}
										→
										{{ s.endAt|date('H:i') }}
									</p>
									{% if s.room %}
										<p class="mb-2">Salle :
											{{ s.room.nameRoom }}</p>
									{% endif %}
									{% if s.price %}
										<p class="mb-2">Tarif :
											{{ s.price }}
											€</p>
									{% endif %}


									{% if s.status == 'SCHEDULED' %}
										<span class="badge text-bg-success align-self-start mb-3">Cours confirmée</span>
									{% else %}
										<span class="badge text-bg-danger align-self-start mb-3">Cours annulé</span>
									{% endif %}


									{% if reservation.statut == 'CONFIRMED' %}
										<span class="badge text-bg-success align-self-start mb-3">Réservation confirmée</span>
									{% endif %}


									<div class="mt-auto">
										{% if s.id is defined %}
											<a href="{{ path('app_session_details', {id: s.id}) }}" class="btn btn-primary w-100">
												Détails du cours
											</a>
										{% endif %}
									</div>
									<div class="mt-auto">

										{% if reservation.statut =='CANCELLED' %}

											<a href="#" class="btn btn-primary w-100 disabled">
												Réservation annulée
											</a>
										{% else %}
											<form method='post' action="{{ path('app_reservation_annuler', {'id': reservation.id}) }}" onsubmit="return confirm('Voulez-vous vraiment annuler cette réservation ?')">

												<input type="hidden" name="_token" value="{{ csrf_token('cancel_reservation' ~ reservation.id) }}">
												<button class="btn btn-sm btn-danger mt-2">Annuler ma réservation</button>
											</form>
										{% endif %}


									</div>
								</div>
							</div>
						</div>


					{% endfor %}

				</div>
			{% endif %}


		</div>
	</section>

	<div class="container pt-5">
		<div class="text-center my-5">
			<a class="btn btn-primary" href="{{ path('app_profile')}}">Retour</a>
		</div>
	</div>


{% endblock %}
