{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block hide_header %}{% endblock %}
{% block hide_footer %}{% endblock %}
{% block body_class %}p-0
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row min-vh-100">
			<div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
				<div class="w-100 py-5 px-md-5 px-xxl-6 position-relative">

					<a href="{{ path('app_home') }}" class="btn btn-link text-muted text-decoration-none mb-5">
						<i class="fa-chevron-left fa me-1"></i>Retour</a>

					<div class="mb-5">
						<h1>Bonjour</h1>
					</div>

					{% if error %}
						<div class="container mt-4">
							<div class="alert alert-danger">
								{{ error.messageKey|trans(error.messageData, 'security') }}
							</div>
						</div>
					{% endif %}


					<form method="post" action="{{ path('app_login') }}" data-turbo="false">
						<div class="mb-4">
							<label for="username" class="form-label">Adresse email</label>
							<input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control" autocomplete="email" required autofocus>
						</div>

						<div class="mb-4">
							<label for="password" class="form-label">Mot de passe</label>
							<input type="password" id="password" name="_password" class="form-control" autocomplete="current-password" required>
						</div>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token }}">

						<div class="d-grid gap-2">
							<button class="btn btn-lg btn-primary" type="submit">
								Se connecter
							</button>
						</div>
					</form>

					<div class="text-center mt-4">
						<small class="mb-1 text-muted">Pas encore de compte ?</small>
						<h5>
							<a id="lien-inscription" href="{{ path('app_register')}}">
								<u>Inscrivez-vous ici</u>
							</a>
						</h5>
					</div>

				</div>

			</div>

			<div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block">
				<div class="bg-cover h-100 me-n3" style="background-image: url(/photos/photo-signin.jpg);"></div>
			</div>
		</div>


	{% endblock %}
