{% extends 'base.html.twig' %}

{% block title %}Ajouter un cours
{% endblock %}

{% block body %}
	<section>
		<div class="container py-5">
			<h1 class="mb-5">Ajouter un cours</h1>

			{{ form_start(form) }}


			<div class="row">

				<div class="col-md-6 mb-3">
					{{ form_label(form.classType) }}
					{{ form_widget(form.classType, { attr: {'data-js': 'sess-classType', class: 'form-control' } }) }}

					{{ form_errors(form.classType) }}
					<div class="invalid-feedback">Vous devez choisir un type de cours.
					</div>

				</div>

				<div class="col-md-6 mb-3">
					{{ form_label(form.room) }}
					{{ form_widget(form.room, { attr: {'data-js': 'sess-room', class: 'form-control' } }) }}
					{{ form_errors(form.room) }}
				</div>

			</div>

			<div class="row">

				<div class="col-md-6 mb-3">
					{{ form_label(form.startAt) }}
					{{ form_widget(form.startAt, { attr: {'data-js': 'sess-startAt', class: 'form-control' } }) }}

					{{ form_errors(form.startAt) }}
					<div class="invalid-feedback">Vous devez choisir une date et une heure de début.
					</div>

				</div>

				<div class="col-md-6 mb-3">
					{{ form_label(form.endAt) }}
					{{ form_widget(form.endAt, { attr: {'data-js': 'sess-endAt', class: 'form-control' } }) }}

					{{ form_errors(form.endAt) }}
					<div class="invalid-feedback">L'heure de fin doit être après l'heure du début.
					</div>

				</div>

			</div>

			<div class="row">

				<div class="col-md-6 mb-3">
					{{ form_label(form.capacity) }}
					{{ form_widget(form.capacity, { attr: {'data-js': 'sess-capacity', class: 'form-control' } }) }}

					{{ form_errors(form.capacity) }}
					<div class="invalid-feedback">Indiquez le nombre de place disponible.
					</div>

				</div>

				<div class="col-md-6 mb-3">
					{{ form_label(form.price) }}
					{{ form_widget(form.price, { attr: {'data-js': 'sess-price', class: 'form-control' } }) }}

					{{ form_errors(form.price) }}
				</div>

			</div>

			<div class="row">

				<div class="col-md-12 mb-12">
					{{ form_label(form.details) }}
					{{ form_widget(form.details, { attr: {'data-js': 'sess-details', class: 'form-control' } }) }}

					{{ form_errors(form.details) }}
					<div class="invalid-feedback">La description ne doit pas dépasser les 500 caractères.
					</div>

				</div>


			</div>


			<button id="btn-validation-session-new" class="btn btn-primary mt-2">Créer le cours</button>


			{{ form_end(form) }}

		</div>

		<div class="container py-4">
			<div class="text-center">
				<a class="btn btn-secondary" href="{{ path('app_profile_teacher')}}">Retour</a>

			</div>
		</div>

	</section>

	<script src="/js/session-new.js" defer></script>

{% endblock %}
